body{ 
  background-color: #b65151;
  margin: 15px 25px;
}

.blog-container {
  display: flex;
}
.blog-title {
  padding: 25px 0 0 25px;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  color: #ffffff;
}
.blog-title p {
  margin-bottom: 25px;
}

.blog-post {
  padding: 25px;
  height: 100%;
  width: 100%;
  border: 2px solid black;
}
.blog-post p { 
  color: #ffffff;
  line-height: 1.9;
}
.blog-post h2 {
  color: #c3b9b9;
  text-decoration-style: double;
  text-align: center;

}